#grid-container{
    border: 1px solid black;
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    /* grid-template-columns: 50% 50%; */
     grid-template-rows: 150px 150px 150px 150px; 
    row-gap: 15px;
    column-gap: 15px;
    gap: 5px;
}
#grid-container>.grid-item{
    border: 1px solid black;
    text-align: center;
    font-size: 35px;
    background-color: aqua;
}

#sec5{
    grid-column: 2/3;
    grid-row: 2/4;
}
