P::first-letter{
    font-size: xx-large;
    color:blue
}
p::first-line{
    color: rgb(255, 0, 0);
}
p::selection{
    background-color: yellow;
    color: rgb(23, 11, 252);
}
h1{
    text-align: center;
}
h1::before{
    content: "* * *";
    color: red;
}
h1::after{
    content: "* * *";
    color: red;
}
ul>li::marker{
    color: blueviolet;
    font-size: xx-large;
}
h1{
    border:1px solid blue;
}
h1::before{
    content:"";
    border:1px rgb(0, 0, 0);
    width: 250px;
    position: absolute;
    right: 300px;
    top: 40px;
}
