p{
    border: 2px solid black;
    font-size: 30px;
    color: blue;
    /* text-align: center; */
    /* text-decoration: none; */
    text-shadow: 2px 2px black;
    text-transform: capitalize;
    text-indent: 50px;
    line-height: 65px;
    letter-spacing: 25px;
    word-spacing: 25px;
    

}
/* a{
    text-decoration: none;
} */
