div{
    background-color: yellow;
    /* border: 2px solid black; */
    padding: 10px;
    word-spacing: 100px;
    background-image: url();
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    margin-right:10px;
    width: 100%;
    position: static;
    

}
.d1{
    text-decoration: none;
    color: black;
}